body {
    width: 1081px; /*Tamaño del banner*/
    background-color: white;
    margin: 0 auto;
    background-image: url('../img/roquesair_background.jpg');
}

#menu {
    width: 1005px;
    margin: 0 auto;
    position:relative;
    top: 30px; 
}

a.menu {
    margin-bottom: 10px;
    display:block;
    width: 121px;
    height: 29px;
    float:left;
}

#menu-home {
    background: url('../img/menu/menu_home.jpg') center top no-repeat;
}

    #menu-home:hover {
        background: url('../img/menu/menu_home_hover.jpg');
    }

#menu-empresa {
    background: url('../img/menu/menu_empresa.jpg') center top no-repeat;
}
    #menu-empresa:hover {
        background: url('../img/menu/menu_empresa_hover.jpg');
    }

#menu-contactos {
    background: url('../img/menu/menu_contactos.jpg') center top no-repeat;
}
    #menu-contactos:hover {
        background: url('../img/menu/menu_contactos_hover.jpg');
    }

#menu-faq {
    background: url('../img/menu/menu_faq.jpg') center top no-repeat;
}
    #menu-faq:hover {
        background: url('../img/menu/menu_faq_hover.jpg');
    }

#menu-vuelos {
    background: url('../img/menu/menu_vuelos.jpg') center top no-repeat;
}
    #menu-vuelos:hover {
        background: url('../img/menu/menu_vuelos_hover.jpg');
    }

#menu-buscar {
    background: url('../img/menu/menu_buscar.jpg') center top no-repeat;
}
    #menu-buscar:hover {
        background: url('../img/menu/menu_buscar_hover.jpg');
    }

#search-area {
    background: url('../img/search_bar.jpg') center top no-repeat;
    width: 276px;
    height: 29px;
    float:left;
}

#input-search {
    margin-top: 3px;
    margin-left: 60px;
    width:200px;
    font-size:small;
}

#mainbox {
    width: 1000px;
    height:500px;
    margin: 0 auto;
    position:relative;
    top: 90px;
}

#mainbox-leftcolumn {
    background-color:blue;
    width: 180px;
    height:500px;
    position:absolute;
}

#mainbox-leftcolumn-top {
    height: 31px;
    width: 180px;
    background: url('../img/mainbox/top_marcas.jpg') center top no-repeat;
}

#mainbox-leftcolumn-bottom {
    height: 469px;
    width: 180px;
}

#mainbox-rightcolumn {
    background-color:#0A668E;
    position:absolute;
    margin-left:180px;
    width: 820px;
    height:500px;
}

#mainbox-rightcolumn-top {
    height: 31px;
    width: 820px;
    background: url('../img/mainbox/top_destacadas.jpg') right top no-repeat;
}

#mainbox-rightcolumn-center {
    height: 469px;
    width: 820px;
}

.mainbox-rightcolumn-bottom {
    height: 31px;
    width: 820px;
    background: url('../img/mainbox/bottom_descripcion.png') center top no-repeat;
}

.banner-texto {
    color: white;
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
}

.banner-pic {
    height: 438px;
    width: 820px;
}

.banner {
    height: 469px;
    width: 810px;
    overflow: auto; 
}
    .banner li {
        list-style: none; 
        height: 479px;
        width: 820px;
        
    }
        .banner ul { 
            margin:0 0 0 0; 
            padding-left: 0px;
        }

        .banner ul li { 
            float: left; 
        }