body {
    width: 1081px; /*Tamaño del banner*/
    background-color: white;
    margin: 0 auto;
    background-image: url('../img/roquesair_background.jpg');
}

#menu {
    width: 1005px;
    margin: 0 auto;
    position:relative;
    top: 30px;
    background-color:red; 
}

a.menu {
    margin-bottom: 10px;
    display:block;
    width: 121px;
    height: 29px;
    float:left;
}

#preload-1 {
    background: url('../img/menu/menu_home_hover.jpg') center top no-repeat;
    display:none;
}
#preload-2 {
    background: url('../img/menu/menu_empresa_hover.jpg') center top no-repeat;
    display:none;
}
#preload-3 {
    background: url('../img/menu/menu_contactos_hover.jpg') center top no-repeat;
    display:none;
}
#preload-4 {
    background: url('../img/menu/menu_faq_hover.jpg') center top no-repeat;
    display:none;
}
#preload-5 {
    background: url('../img/menu/menu_vuelos_hover.jpg') center top no-repeat;
    display:none;
}
#preload-6 {
    background: url('../img/menu/menu_buscar_hover.jpg') center top no-repeat;
    display:none;
}

#menu-home {
    background: url('../img/menu/menu_home.jpg') center top no-repeat;
}
    #menu-home:hover {
        background: url('../img/menu/menu_home_hover.jpg') center top no-repeat;
    }

#menu-empresa {
    background: url('../img/menu/menu_empresa.jpg') center top no-repeat;
}
    #menu-empresa:hover {
        background: url('../img/menu/menu_empresa_hover.jpg') center top no-repeat;
    }

#menu-contactos {
    background: url('../img/menu/menu_contactos.jpg') center top no-repeat;
}
    #menu-contactos:hover {
        background: url('../img/menu/menu_contactos_hover.jpg') center top no-repeat;
    }

#menu-faq {
    background: url('../img/menu/menu_faq.jpg') center top no-repeat;
}
    #menu-faq:hover {
        background: url('../img/menu/menu_faq_hover.jpg') center top no-repeat;
    }

#menu-vuelos {
    background: url('../img/menu/menu_vuelos.jpg') center top no-repeat;
}
    #menu-vuelos:hover {
        background: url('../img/menu/menu_vuelos_hover.jpg') center top no-repeat;
    }

#menu-buscar {
    background: url('../img/menu/menu_buscar.jpg') center top no-repeat;
}
    #menu-buscar:hover {
        background: url('../img/menu/menu_buscar_hover.jpg') center top no-repeat;
    }

#search-area {
    background: url('../img/menu/search_bar.jpg') center top no-repeat;
    width: 276px;
    height: 29px;
    float:left;
}

#input-search {
    margin-top: 3px;
    margin-left: 60px;
    width:200px;
    font-size:small;
}

#mainbox {
    background-color:#0A668E;
    height:510px;
    width: 1000px;
    margin: 0 auto;
    position:relative;
    top: 90px;
}

#mainbox-leftcolumn {
    width: 180px;
    height:510px;
    position:absolute;
}

#mainbox-leftcolumn-top {
    height: 31px;
    width: 180px;
    background: url('../img/mainbox/top_marcas.jpg') center top no-repeat;
}

#mainbox-leftcolumn-bottom {
    height: 479px;
    width: 180px;
    overflow-x:hidden;
    overflow-y:auto;
}

#mainbox-rightcolumn {
    position:absolute;
    margin-left:180px;
    width: 820px;
    height:510px;
}

#mainbox-rightcolumn-top {
    height: 31px;
    width: 820px;
    background: url('../img/mainbox/top_destacadas.jpg') right top no-repeat;
}

#mainbox-rightcolumn-center {
    height: 479px;
    width: 820px;
}

.mainbox-rightcolumn-bottom {
    height: 31px;
    width: 820px;
    background: url('../img/mainbox/bottom_descripcion.png') center top no-repeat;
}

.banner {
    height: 469px;
    width: 810px;
    overflow: auto; 
}
    .banner li {
        list-style: none; 
        height: 479px;
        width: 820px;
        
    }
        .banner ul { 
            margin:0 0 0 0; 
            padding-left: 0px;
        }

        .banner ul li { 
            float: left; 
        }

    .banner img {
        height: 448px;
        width: 820px;
    }

.banner-texto {
    color: white;
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
}

.ac-container {
	width: 180px;
}

.ac-container label{
    height: 30px;
	cursor: pointer;
	position: relative;
	z-index: 20;
	/*display: block;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;*/
}

.ac-container label:hover{
	
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{

}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}

.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}

.ac-container input{
	display: none;
}

.ac-container article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p{
	font-style: italic;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small{
	height: 140px;
}

#lightbox-top {
    width: 1000px;
    height: 8px;
    background: url('../img/bar.jpg') center top no-repeat;
}

#lightbox-center {
    height: 494px;
    width: 100%;
}

#lightbox-center-left {
    position:absolute;
    width: 535px;
    height: 494px;
    background: url('../img/fondo_texto.jpg') left bottom no-repeat;
}

#lightbox-center-right {
    position:absolute;
    margin-left:535px;
    height: 494px;
    width:465px;
    background: url('../img/empresa_avion.jpg') center top no-repeat;
}

#lightbox-bottom {
    height: 8px;
    width: 1000px;
    background: url('../img/bar.jpg') center top no-repeat;
}

#texto_empresa {
    padding: 50px 50px 50px 50px;
}
    #texto_empresa p {
        text-align:justify;
        line-height: 150%;
    }